.filebox-wrapper {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.6);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 10;
}

.filebox-container {
	min-width: 70vw;
	max-width: 70vw;
	min-height: 90vh;
	max-height: 90vh;
	background-color: #282a28;
	color: #e5fee5;
	display: flex;
	flex-direction: column;
	box-shadow: 10px 10px 10px #201e1e;
}

.filebox-button-container {
	background-color: #abebc6;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.filebox-option-btn {
	height: 50px;
	font-size: 20px;
	color: black;
	width: 20%;
	background-color: #abebc6;
	border: 0px;
}

.filebox-active-option-btn {
	border-style: solid;
	border-bottom-style: groove;
	border-bottom-color: black;
	border-bottom-width: 3px;
}

.filebox-option-btn:focus {
	outline: none;
}

.filebox-search {
	width: 500px;
	font-weight: bolder;
	margin-left: 20px;
}

.filebox-search .md-form input[type='text'] {
	color: white;
}

.filebox-file-info {
	height: 50vh;
	overflow-y: auto;
}

.filebox-footer {
	display: flex;
	gap: 20px;
	justify-content: flex-end;
	align-items: center;
	padding: 20px;
}
.filebox-footer-btn {
	padding: 10px;
}
.filebox-footer-btn:hover {
	background-color: rgb(92, 89, 89);
	cursor: pointer;
}
