.node-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 20px;
}
.node-text {
	position: relative;
	display: inline-block;
	border-radius: 20px;
	border-style: solid;
	background-color: #80ffd4;
}

.node-cap {
	background-color: #80ffd4;
	width: 10px;
	height: 20px;
}
.node-children {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
}
.node-line {
	display: block;
	height: 10px;
	width: calc(100% + 50px);
	background-color: aquamarine;
}

.left {
	width: calc(50% + 20px);
	margin-left: calc(50% + 10px);
}

.right {
	width: calc(50% + 20px);
	margin-right: calc(50% + 10px);
}

.left-center {
	width: calc(50% + 30px);
	margin-left: calc(50% + 20px);
}
.center {
	width: 10px;
}

.node-text h2 {
	overflow: hidden;
}

.node-text h2:hover {
	cursor: pointer;
}
