.profile-page-wrapper {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(41, 33, 33);
}

.profile-page-img-container {
	padding-left: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 50px;
}

.profile-page-img {
	height: 500px;
	width: 500px;
	border-radius: 300px;
}

.profile-page-container {
	width: 50vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: rgb(41, 33, 33);
	color: whitesmoke;
}

.profile-page-button-container {
	margin-top: 50px;
	display: flex;
	gap: 50px;
}

.profile-page-btn {
	background-color: blueviolet;
	padding: 10px 40px;
}

.profile-page-btn:hover {
	background-color: blue;
	box-shadow: 10px;
}
