.signup-wrapper {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(41, 33, 33);
}

.signup-container {
	width: 50vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: rgb(41, 33, 33);
	color: whitesmoke;
}

.signup-btn {
	background-color: blueviolet;
	padding: 10px 40px;
}

.signup-btn:hover {
	background-color: blue;
	box-shadow: 10px;
}
